.header-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 40px;
    background: #FFFFFF;
}

/*Logo*/
.div-threeDot-header{
    display: none;
}
.section-titleLogo-header{
    display: flex;
    gap: 10px;
}
.section-titleLogo-header img{
    width: 80px;
}
.div-titleLogo-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px 0px 0px;
}
.div-titleLogo-header h1{
    color: #846219;
    font-size: 42px;
    font-weight: 600;
    margin: 0px;
}
.div-titleLogo-header p{
    color: #846219;
    margin: 0px;
    letter-spacing: 5px;
}

/*Parte de navegação*/
.section-nav-header{
    display: flex;
    gap: 100px;
}
.section-nav-header p{
    cursor: pointer;
    color: #846219;
    letter-spacing: 5px;
    padding-top: 1px;
    border-bottom: 1px solid #ffff;
}
.section-nav-header p:hover{
    border-bottom: 1px solid #846219;
}

@media (max-width: 850px) {
    .section-titleLogo-header{
        gap: 35%;
        width: 100%;
    }

    .section-titleLogo-header img{
        width: 52px;
    }

    .div-threeDot-header{
        display: block;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }
    .circle-threeDot-header{
        background: #E2E0B8;
        padding: 4px;
        border-radius: 100%;
    }

    .div-titleLogo-header{
        display: none;
    }
    .section-nav-header{
        display: none;
    }
}